<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${visitor} ? ${visitor} + ', I hope you interested to hire me' : 'This is my CV'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
    <div class="jumbotron">
        <h3> Curriculum Vitae </h3>
    </div>
    <div class="container-fluid">
        <dl>
            <dt> Name </dt>
            <dd> Nur Hidayat </dd>
            <dt> Birthdate </dt>
            <dd> 2nd January 1995 </dd>
            <dt> Birthplace </dt>
            <dd> Soroako </dd>
            <dt> Address </dt>
            <dd> Jakarta Utara</dd>
            <dt> Education History </dt>
            <dd>
                <ul>
                    <li> SD YPS Singkole </li>
                    <li> SMP YPS Singkole </li>
                    <li> SMA Pribadi Bandung </li>
                    <li> Universitas Indonesia </li>
                </ul>
            </dd>
            <dt> About me </dt>
            <dd>
                <p>
                    Saya adalah anak gembala, selalu riang serta gembira.
                    Karena aku senang bekerja, tak pernah malas ataupun lengah.
                </p>
            </dd>
        </dl>
    </div>
</body>
</html>
